definitions:
  models.AgeModel:
    properties:
      age:
        description: 年龄
        type: integer
    type: object
host: 124.220.12.138:8888
info:
  contact:
    email: support@swagger.io
    name: "1362"
    url: http://www.swagger.io/support
  description: ExamCodeAboutTeslaByGin
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: ExamCodeAboutTeslaByGin
  version: "1.0"
paths:
  /age:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 获取最新age
      tags:
      - AgeController 年龄相关
    post:
      consumes:
      - application/json
      parameters:
      - description: 请求参数
        in: body
        name: object
        schema:
          $ref: '#/definitions/models.AgeModel'
      produces:
      - application/json
      responses: {}
      summary: 设置最新age
      tags:
      - AgeController 年龄相关
  /buffer:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 获取最新库存数量
      tags:
      - CarInventoryController 库存相关
  /car:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 获取最新carid
      tags:
      - CarInventoryController 库存相关
  /rate:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      summary: 获取最新售卖率
      tags:
      - CarInventoryController 库存相关
swagger: "2.0"
